.footer {
    margin-top: 80px;
    padding: 16px 24px;
    color: #888;

    text-align: center;
    font-size: .8rem;
}

.nav {
    margin-bottom: 16px;
}

.items {
    display: flex;
    gap: 40px;
    justify-content: center;

    font-size: 1rem;
    white-space: nowrap;
}

@media (max-width: 640px) {
    .items {
        gap: 8px 0;
        flex-wrap: wrap;
    }

    .item {
        width: 50%;
    }
}
