.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    padding: 24px;
}

.list {
    margin: 0 4px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    border-radius: 8px;
}

.current {
    color: #fff;

    background-color: #000;
}
